@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}

#background {
    height: 725px;
    background-color: rgba(159, 43, 226, 0.616);
}

body {
   background-color: rgba(226, 43, 217, 0.616);
   font-family: Roboto Condensed, Helvetica, sans-serif;
   font-size: 22px;
   margin: 0;
   padding: 0;
}

header {
    background-color: rgba(168, 207, 214, 0.616);
    font-family: Montserrat, Georgia, 'Times New Roman', Times, serif;
    
}

nav a:hover {
    background-color: white;
    color: rgb(240, 65, 12);
}

.book, .join {
    background-color: white;
    color: blueviolet;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: rgb(24, 226, 57);
    color: rgb(11, 44, 230);
}

.msg {
    background-color: rgba(15, 203, 236, 0.616);
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: rgba(43, 226, 156, 0.616);
    color: black;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    background-color: rgba(226, 43, 217, 0.616);
    color: blue;
    font-family: Montserrat, Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: rgb(1, 24, 24);
}

.msg h2 {
    color: azure;
    font-family: Montserrat, Georgia, 'Times New Roman', Times, serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}