@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-items: center;
}

.logo {
    width: 100px;
    border: 10px solid black;
}

body {
    background-color: #da9794;
    font-family: Handjet, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
 }

header {
    background-color: #788982;
    font-family: "Handjet", sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #e9c2b3;
    color: #273835;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#beach {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#beach-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#beach-img {
    width: 100%;
    height: 90%;
    
}
#beach-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-title {
    background-color: #da9794;
    color: #273835;
    font-family: Handjet, sans-serif;
    font-size: 3em;
    margin-top: 150px;
}

#beach-msg h1, #beach-msg h4 {
    text-align: center;
}

h4 {
    color: black;
    font-size: 2em;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #e9c2b3;
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
}

.book:hover, .join:hover {
    background-color: #273835;
    color: #c59f94;
}

main section img {
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2 {
    margin: 0;
}

.card-img, .sewing {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover, .sewing:hover {
    opacity: .6;
    transform: scale(1.1);
}

.notions-card {
    margin: 0;
    margin-left: 100px;
}

.sewing {
    width: 300px;
    height: 290px;
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 70px;
    margin-bottom: 0;
    
}


.dream-card {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0;
    margin-right: 100px;
  
}

#background {
    height: 725px;
    background-color: #273835;
    grid-column: 1/11;
    grid-row: 4/9;
    z-index: -1;
    margin-bottom: 0%;
    margin-top: 30px;
}

.epic {
    width: 85%;
    height: 650px;
    grid-column: 2/5;
    grid-row: 5/7;
    margin-top: 45px;
}

.msg {
    background-color: rgba(187, 211, 209, 0.616);
    line-height: 1.5em;
    padding: 80px;
    max-width: 1600px;
    height: 250px;
    grid-row: 5/7;
    grid-column: 1/3;
    margin-left: 100px;
    margin-top: 60px;
   
}

.msg h3 {
    color: #273835;
    font-family: Handjet, sans-serif;
    text-align: center;
    
}

.msg p {
    color: black;
    font-size: .9em;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}

footer {
    background-color: #788982;
    color: black;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #e9c2b3;
    text-decoration: none;
}

footer a:hover {
    color: #273835;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* this is the start of css for about page */
div #info h2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column: 1/11;
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.quilt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1600px;
    margin-top: 50px;
    
}

.quilt-card {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 400px;
    
}

.wedding-card {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 400px;
    
}

.summer-card {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: 400px;
}

/* this is the start of css for services page */


/* this is the contactme css. */
body {
    /* Center the form on the page */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-top: 50px;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
  
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
}
  
input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}
  
.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}
  
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

